body {		
  font-family : "Segoe UI", Verdana, sans-serif;
  font-size : 1em;
  color:rgb(255, 255, 255) ;
  background-color:rgb(46, 46, 46);
  padding : 0.5em;
  margin:auto;
  width:95%; 
}
* {
  box-sizing: border-box;
}
h1, h2 { 	
  font-weight: normal ; 
  background-color : rgb(229, 229, 229); 
  color:rgb(46, 46, 46);
}
h1 { 		 
  font-size : 2em;
  text-align:center;
  float:left;
}
h2 { 		 
  font-size : 1.5em;
}
h3 { 		 
  font-size : 20px;
  text-decoration : underline ;
}
p {
  text-align:justify ;
  color:rgb(255, 255, 255)
}
table {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}
tr, td {
  border:rgb(190, 189, 189) 0.1em solid;
}
nav { 
  background-color: rgb(46, 46, 46);
  border : rgb(190, 189, 189) 0.1em solid;
}
aside { 
  background-color: rgb(46, 46, 46);
  border : rgb(190, 189, 189) 0.1em solid;
}
nav ul, aside ul {
    padding: 0.5em;
    width:100%;
    margin: auto;
    list-style: none;
  }
nav ul li, aside ul li {
  text-align:left;
  display : inline-block;
  width:100%;
  cursor:pointer;
}
nav ul li a, aside ul li a {
  text-decoration:none;
  color:rgb(255, 255, 255);
}
nav ul li a:hover, aside ul li a:hover {
  font-size:1.1em;
  background-color: rgb(28, 28, 28);
}
section ul {
  list-style: inside;
}

/* récupérées de W3C */

/* Style the header */
header {
  background-color: rgb(46, 46, 46);
  padding: 30px;
  text-align: right;
  background-image:url("../images/fond-gris.png");  
  background-position: center; 
  background-repeat: repeat-x;
  border-radius:0.5em;
  margin-bottom:0.5em;
}
/* Create three unequal columns that floats next to each other */
aside, nav, section {
  float: left;
  padding: 10px;
}
/* Left and right column */
aside, nav {
  width: 20%;
  padding-bottom:3em;
  border-radius:0.5em;
}
/* Middle column */
section {
  width: 60%;
  padding-right: 2em;
  padding-left: 2em;
}
/* Clear floats after the columns */
/* Style the footer */
footer {
  clear: both;
  background-color: rgb(229, 229, 229);
  padding: 1em;
  text-align: center;
}
abbr {
    letter-spacing: 2px;
    cursor: help;
  }

/* Addition to the CSS */

#mentions_legales {
  color: rgb(46, 46, 46);
  background-color: rgb(229, 229, 229);
}
img.miniature {
  width: 25%;
  max-width: 25%;
  cursor: pointer;
}
th.couloir {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}
th.salles {
  text-align: center;
}
td.salles {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}
a{
  color: rgb(255, 255, 255);
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  aside, nav, section {
    width: 100%;
  }
  #logoOrdi {
    display: none;
  }
  #Basch {
    display: none;
  }
  h1 {
    float:none;
  }
}
