body {		
  font-family : "Segoe UI", Verdana, sans-serif;
  font-size : 1em;
  color:rgb(255, 255, 255) ;
  background-color:rgb(46, 46, 46);
  padding : 0.5em;
  margin:auto;
  width:95%; 
}
* {
  box-sizing: border-box;
}
h1, h2 { 	
  font-weight: normal ; 
  background-color : rgb(229, 229, 229); 
  color:rgb(46, 46, 46);
}
h1 { 		 
  font-size : 2em;
  text-align:center;
  float:left;
}
h2 { 		 
  font-size : 1.5em;
}
h3 { 		 
  font-size : 20px;
  text-decoration : underline ;
}
p {
  text-align:justify ;
  color:rgb(255, 255, 255)
}
table {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}
tr, td {
  border:rgb(190, 189, 189) 0.1em solid;
}
div { 
  background-color: rgb(46, 46, 46);
  border : rgb(190, 189, 189) 0.1em solid;
}
aside { 
  background-color: rgb(46, 46, 46);
  border : rgb(190, 189, 189) 0.1em solid;
}
div ul, aside ul {
    padding: 0.5em;
    width:100%;
    margin: auto;
    list-style: none;
  }
div ul li, aside ul li {
  text-align:left;
  display : inline-block;
  width:100%;
  cursor:pointer;
}
div ul li a, aside ul li a {
  text-decoration:none;
  color:rgb(255, 255, 255);
}
div ul li a:hover, aside ul li a:hover {
  background-color: rgb(28, 28, 28);
}
section ul {
  list-style: inside;
}
header {
  background-color: rgb(46, 46, 46);
  padding: 30px;
  text-align: right;
  background-image:url("../images/fond-gris.png");  
  background-position: center; 
  background-repeat: repeat-x;
  border-radius:0.5em;
  margin-bottom:24px;
}
aside, div, section {
  float: left;
  padding: 10px;
}
aside, div {
  width: 20%;
  padding-bottom:3em;
  border-radius:0.5em;
}
section {
  width: 60%;
  padding-right: 2em;
  padding-left: 2em;
}
footer {
  clear: both;
  background-color: rgb(229, 229, 229);
  padding: 1em;
  text-align: center;
}
abbr {
    letter-spacing: 2px;
    cursor: help;
  }
#mentions_legales {
  color: rgb(46, 46, 46);
  background-color: rgb(229, 229, 229);
}
img.miniature {
  width: 25%;
  max-width: 25%;
  cursor: pointer;
}
th.couloir {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}
th.salles {
  text-align: center;
}
td.salles {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}
a{
  color: rgb(255, 255, 255);
}
.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color:  rgb(28, 28, 28);
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000;
}
.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
.navbar-menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.navbar-menu a:hover {
  background-color: rgb(46, 46, 46);
  color: rgb(255, 255, 255);
}
body {
  margin-top: 80px;
}
@media (max-width: 700px) {
  aside, div, section {
    width: 100%;
  }
  #logoOrdi {
    display: none;
  }
  #Basch {
    display: none;
  }
  h1 {
    float:none;
  }
}
